<nav class="navbar navbar-expand-lg bg-body-tertiary px-5">
  <div class="container-fluid">
    <!-- LOGO DA EMPRESA  -->
    <a class="navbar-brand" href="/">
      <img
        src="https://i1.sndcdn.com/artworks-000170071431-5jy7ga-t240x240.jpg"
        alt="logo"
        width="60"
        height="60"
      />
      C&G Solutions
    </a>
    <!-- FIM DA LOGO  -->

    <!-- BOTÃO PRA MAXIMIZAR O MENU  -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- FIM DO BOTAO  -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- OPÇÃO DE PÁGINA PRINCIPAL  -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <!-- FIM DE OPÇÃO PÁGINA PRINCIPAL  -->

        <!-- OPÇÕES DE PÁGINA PARA USUÁRIO  -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Usuários
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/usuarios">Ver usuários</a></li>
            <li>
              <a class="dropdown-item" href="/usuarios/cadastrar"
                >Criar usuário</a
              >
            </li>
          </ul>
        </li>

        <!-- FIM DE OPÇÕES DE USUÁRIO  -->
      </ul>
      <!-- AREA DO BOTAO DE SAIR  -->
      <p class="text-muted mx-2 mb-lg-0">Usuário: Cristiano</p>
      <button class="btn btn-danger">Sair</button>
      <!-- FIM DE AREA DO BOTAO DE SAIR  -->
    </div>
  </div>
</nav>
